<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection,Couchbase" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="bucketName" value="default"/>
    <add key="bucketPassword" value=""/>
    <add key ="pageIndex" value="0"/>
    <add key="pageCount" value="100"/>
    <!--<add key="bucketName" value="ClusterTest"/>
    <add key="bucketPassword" value="ClusterTest"/>-->
  </appSettings>
  <couchbase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://10.4.18.101:8091/pools" />
      <add uri="http://10.4.18.26:8091/pools" />
    </servers>
  <heartbeatMonitor uri="http://10.4.18.62:8091/pools/heartbeat" interval="10000" enabled="true" />
  </couchbase>
  <connectionStrings>
    <add name="CentaPostEntities" connectionString="metadata=res://*/CentaPosts.csdl|res://*/CentaPosts.ssdl|res://*/CentaPosts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.18.63\centawebolap;initial catalog=CentaPost;persist security info=True;user id=shiyf;password=Cent@l1ne_0132;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>