<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <providers resource="./providers.config"/>

	<database>
		<provider name="sqlServer2008"/>
		<dataSource name="DevDataPost" connectionString="data source=10.4.5.198\DEVELOPTEST;initial catalog=CentaPost;user id=CentaNet2012;password=P@ssw0rd2012;Connect Timeout=500;MultipleActiveResultSets=True;Application Name=Ibatis;Max Pool Size=300"/>
	</database>

  <sqlMaps>
    <sqlMap resource="./Post.xml" />
  </sqlMaps>

</sqlMapConfig>